<div class='results'>
  <% @results.each do |result| %>
    <div class="results_links results_links_deep web-result">
      <div class="links_main links_deep"> <!-- This is the visible part -->
        <a rel="nofollow" class="large" href="<%= result.main_url %>">
          <%= result.main_text %>
        </a>
        <div class="snippet"><%= result.description %></div>
        <div class="url"><%= result.bottom_url %></div>
      </div>
    </div>
  <% end if !is_topic_summary? && @results.present? %>
</div>